---
import Card from "@components/base/Card.astro";

const response = await fetch('https://api.kepul.id/v2/products?limit=100');
const result = await response.json();

let activeCategory = '';

---

<div class="grid md:grid-cols-3 ltablet:grid-cols-3 lg:grid-cols-3 gap-x-6 ptablet:gap-x-4 gap-y-16 pt-10">
  {
    result.data.products.map((product) => (
    <div x-show={`activeCategory === '${product.category}'`}>
        <Card class="'p-4'">
          <div class="relative w-full h-60 rounded-lg bg-muted-200 dark:bg-muted-800">
            <img
              class="object-cover bottom-0 inset-x-0 w-full h-60 rounded-lg"
              src={product.image_url}
              alt={product.slug}
            />
          </div>
          <div class="font-sans mt-3">
            <h4 class="font-semibold text-muted-800 dark:text-muted-100">
              {product.name}
            </h4>
            <p class="text-sm text-muted-400">{product.category}</p>
          </div>
          <div class="flex items-center justify-between font-sans mt-3">
            <div class="flex items-center gap-2">          
              <span class="font-semibold text-sm text-muted-500 dark:text-muted-400">Rp{product.price_after}/{product.unit_type}</span>
            </div>
            <div class="flex items-center justify-end gap-2">
              <iconify-icon class="iconify w-4 h-4 text-green-400" icon="uiw:up"></iconify-icon>
              <span class="font-semibold text-xs text-muted-500 dark:text-muted-400">+ Rp400</span>
            </div>
          </div>
        </Card>
      </div>
    ))
  }
</div>
